/* global widget styles */
Input {
  padding: 0 1;
  margin: 0;
  background: transparent;
  border: solid $secondary-muted;
  &:focus {
    border: solid $secondary;
  }
}

/* global utility classes */
.hidden {
  display: none;
}
