#search {
    padding: 0 1;
    margin: 0;
    background: transparent;
    border: solid $secondary-muted;
}

#search:focus {
    border: solid $secondary;
}

#results_list {
    background: transparent;
    border: solid $secondary-muted;
    padding: 0 1;
}
