SearchScreen Vertical {
    /* search input */
    #search {
        dock: top;
    }
    /* results data-table */
    #results_table {
        background: transparent;
        border: solid $secondary-muted;
        padding: 0 1;
        scrollbar-size: 0 0;
        height: 1fr;
        &:focus {
            border: solid $secondary;
        }
        &:disabled {
            border: solid $secondary-muted;
        }
        & > .datatable--header,
        & > .datatable--header-hover {
            background: transparent;
        }
    }
    /* loading indicator and text */
    #loader {
        align: center middle;
        #indicator {
            height: auto;
            content-align-horizontal: center;
        }
        #status_text {
            content-align-horizontal: center;
        }
    }
    /* downloads section */
    #downloads_container {
        dock: bottom;
        height: auto;
        border: solid $secondary-muted;
        padding: 0 1;
        &:focus {
            border: solid $secondary;
        }
        /* bottom section: progressbar and actions */
        #progressbar-and-actions {
            height: auto;
            #progressbar {
                width: 1fr;
                #bar {
                    width: 90%;
                }
            }
            #actions {
                content-align-horizontal: right;
                width: auto;
            }
        }
    }
}
